@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">

    <main>
        <MudAppBar Color="Color.Primary" Fixed="false">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/broline/aspire-todo" Color="Color.Inherit" />
        </MudAppBar>

        <MudPaper Width="100%">
            <MudContainer Fixed="true">
                <MudPaper Width="100%" Square="true">@Body</MudPaper>
            </MudContainer>
        </MudPaper>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
