@using Blazored.Toast.Configuration
@using Todo.Web.Components
@inherits LayoutComponentBase

<div class="page">

    <main>
        <MudAppBar Color="Color.Primary" Fixed="false">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
            <MudSpacer />
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Href="https://github.com/broline/aspire-todo" Color="Color.Inherit" />
        </MudAppBar>
        <Loading />

        <MudContainer Fixed="true">
            @Body
        </MudContainer>

        <MudThemeProvider />
        <MudDialogProvider />
    </main>
</div>

@code{
}
